aiohttp==3.0.4
asn1crypto==0.24.0
async-timeout==2.0.0
attrs==17.4.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
defusedxml==0.5.0
Django==2.0
django-bootstrap3==10.0.1
django-changuito==1.2
django-ckeditor==5.4.0
django-js-asset==1.1.0
django-markdown-deux==1.0.5
django-ranged-response==0.2.0
django-simple-captcha==0.5.7
fake-useragent==0.1.10
hyperlink==18.0.0
idna==2.6
idna-ssl==1.0.0
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.2.1
markdown2==2.3.5
MarkupSafe==1.0
matplotlib==2.2.2
multidict==4.1.0
mysqlclient==1.3.12
numpy==1.14.4
parameterized==0.6.1
parsel==1.4.0
Pillow==5.0.0
proxypool==0.0.0.dev0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybase64==0.2.1
pycparser==2.18
pycryptodome==3.6.6
pycurl==7.43.0.1
PyDispatcher==2.0.5
pymongo==3.6.1
PyMySQL==0.8.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyquery==1.4.0
pyspider==0.3.9
pytesseract==0.2.0
python-dateutil==2.7.3
pytz==2018.3
pywin32==223
queuelib==1.4.2
redis==2.10.6
requests==2.20.0
selenium==3.8.1
service-identity==17.0.0
six==1.11.0
tblib==1.3.2
tornado==4.5.3
Twisted==17.9.0
u-msgpack-python==2.4.1
urllib3==1.22
virtualenv==15.2.0
w3lib==1.19.0
Werkzeug==0.14.1
WsgiDAV==2.2.4
yarl==1.1.1
zope.interface==4.4.3
