.form-control{
    width: 295px;
    height: 36px;
    border: 1px solid #cad2db;
    padding: 0 5px;
    border-radius: 5px;
    line-height: 36px;
    font-size: 14px;
    font-family: Arial;
    margin-top: 5px;
    margin-bottom: 15px;
}
.sub-button{
    float: right;
    width: 122px;
    height: 32px;
    border: none;
    color: #FFF;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
    background-color: #63A7EB;
}
.lable-name{
    color: #4f5d80;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
}
.reg-btn{
    float: left;
    width: 122px;
    height: 32px;
    border: none;
    color: #FFF;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
    background-color: #63A7EB;
}